body {
  background-color: #0c0c0c;
  color: #ffffff;
}
section {
  height: 100vh;
}

#hero {
  background-image: url("images/header-img.jpg");
  background-position: 25em 0em;
}

img {
  filter: grayscale(100%);
}

#navbar-logo {
  height: 5em;
}
