@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 5em;
}

img {
  filter: grayscale(100%);
}

.social-media {
  position: absolute;
  top: 43em;
}

.img-index {
  height: 20em;
  width: 15em;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .img-index {
    width: 13em;
  }
}

hr {
  border: 1px solid #000;
}

.custom-text {
  font-size: 4rem;
}

@media screen and (max-width: 480px) {
  .custom-text {
    font-size: 2rem;
  }
}

.img-about,
.img-blog {
  height: 30em;
  object-fit: cover;
}

.swiper-wrapper-about {
  margin-left: 34em;
}

@media screen and (max-width: 480px) {
  .swiper-wrapper-about {
    margin-left: 0;
  }
}

.swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  text-align: left;
  opacity: 0.7;
  background: transparent;
}

.swiper-pagination-bullet-active {
  text-decoration: underline;
  opacity: 1;
}

.swiper-pagination {
  margin-bottom: 22em;
}

.avatar {
  height: 20em;
  width: 20em;
  object-fit: cover;
}

.imghvr-push-up {
  background-color: #fff;
  color: #000;
}

.imghvr-push-up figcaption {
  background-color: #fff;
  color: #000;
}

#scroll-btn-about {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
}

#scroll-btn-about:hover {
  opacity: 0.9;
}

.img-blog-sm {
  height: 15em;
  object-fit: cover;
}

.custom-card {
  height: 30em;
}

.form-control {
  background: transparent;
}

.bi-circle {
  font-size: 0.6rem;
}
